.bluebox{
  width: 100px;
  height: 100px;
  background: blue;
}

/* 이건 정규 css 문법이긴 함 */
:global .redbox{
  width: 100px;
  height: 100px;
  background: red;  
}

/* 이건 정규 css 문법이 아님 */
:global(.blackbox){
  width: 100px;
  height: 100px;
  background: black;  
}

yellowbox{
  width: 100px;
  height: 100px;
  background: yellow;  
}